/.dart_tool/
/.idea/
/build/
/.vscode/
*.lock
/.flutter-plugins
/.flutter-plugins-dependencies
/.packages
# .gitignore for Flutter
**/build/
**/ios/Flutter/.last_build_id
**/ios/Flutter/App.framework
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/App.xcworkspace
**/ios/Flutter/ephemeral
**/ios/Flutter/flutter_export_environment.sh
**/ios/Runner.xcworkspace
.vscode/
.idea/
*.iml
*.iws
*.swp
.DS_Store
*.gradle
/local.properties
/captures/
.keystore
